<configuration>
  <appSettings>
    <add key="ReportTemplateLocation" value="c:/ReportTemplates" />
    <add key="ReportTempLocation" value="c:/report" />
    <add key="ReportUrl" value="http://localhost:5020" />
  </appSettings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
