<configuration>
  <configSections>
    <section
				name="Telerik.Reporting"
				type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting"
				allowLocation="true"
				allowDefinition="Everywhere"/>

    <section
        name="Telerik.ReportDesigner"
        type="Telerik.ReportDesigner.Configuration.ReportDesignerConfigurationSection, Telerik.ReportDesigner.Configuration"
        allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>

  <Telerik.Reporting>
    <AssemblyReferences>
      <add name="ReportGeneratorNormal" version="1.0.0.0" culture="neutral" publicKeyToken="null" />
    </AssemblyReferences>
  </Telerik.Reporting>
  <appSettings>
    <add key="ReportTemplateLocation" value="c:/ReportTemplates" />
    <add key="reportIconsFolder" value="D:\\Projects\\Molecular-GUI\\src\\ReportIcons" />
    <add key="ReportTempLocation" value="c:/report" />
    <add key="ReportUrl" value="http://localhost:5020" />
    <!--Token for PowerBI RevDx Reports -->
    <add key="AnalyticsUserName" value="vanajab@AccessOH.onmicrosoft.com" />
    <add key="AnalyticsPassword" value="Welcome@123" />
    <add key="AnalyticsClientId" value="9ba46bbe-613c-47e4-9379-8b30a1b02abf" />
    <add key="AuthenticationContextUrl" value="https://login.windows.net/common/oauth2/token/" />
    <add key="TokenUrl" value="https://analysis.windows.net/powerbi/api" />
    
   
  
  </appSettings>
   <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <!-- Required for interoperability with older versions of Telerik Reporting -->
         <assemblyIdentity name="Telerik.Reporting" culture="neutral" publicKeyToken="a9d7983dfcc261be"/>
         <bindingRedirect oldVersion="0.0.0.0-11.2.17.913" newVersion="11.2.17.913"/>
       </dependentAssembly>
     </assemblyBinding>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
